<div id="Header">
    <h1 class="titulo">Lista de Tarea</h1>
</div>


<nav>
    <ul>
        <li><a href="/" id="navprin">Lista de tareas</a></li>
        <li><a href="/agr">Agregar tarea</a></li>
   </ul>
</nav>